/_build
/cover
/deps
/config/*.secret.exs
erl_crash.dump
*.ez

.deliver/releases
.elixir_ls

.env.dev
.env.test
.env.prod

state-wallet-mainnet
state-wallet-mainnet-staging
state-wallet-testnet
connect-to-cardano-sl-staging
connect-to-cardano-sl-testnet

my-block-umbrella-staging-instance-startup.sh

